{% extends "base.html" %}

{% block title %}Gang{% endblock %}

{% block content %}
    <h1>Gang</h1>

    {% for question_id, question_text in question_desc.items() %}
    <div class="question">
        <form action="{{ url_for('gang') }}" method="POST">
            <input type="hidden" name="question_id" value="{{ question_id }}">
            <label for="question{{ question_id }}">{{ question_text | safe }}</label>
            <div class="input-container">
                <input type="text" id="question{{ question_id }}" name="answer" placeholder="Your answer here"
                    {% if answers_status[question_id] == 'correct' %} 
                        style="background-color: #4CAF50;" value="{{ answer_dict.get(question_id, '') }}"
                    {% elif answers_status[question_id] == 'incorrect' %} 
                        style="background-color: #f44336;" value="{{ answer_dict.get(question_id, '') }}"
                    {% else %}
                        value="{{ answer_dict.get(question_id, '') }}"
                    {% endif %}>
                <button type="submit">✔</button> <!-- Button is a square with check mark -->
            </div>
        </form>
    </div>
    {% endfor %}

    <br>
    <a href="{{ url_for('overzicht') }}"><button>Terug naar overzicht</button></a>
{% endblock %}
