{% extends "base.html" %}

{% block title %}Overzicht{% endblock %}

{% block content %}
  <div class="content-container">
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,700,900" rel="stylesheet">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width: 0;height: 0;">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
          </filter>
        </defs>
      </svg>
      
      <h1>Team</h1>
      <h1 class="title">
        {{ team|capitalize }}!
        {% set text = team|capitalize + '!' %}
        {% for char in text %}
          <span class="drop"></span>
        {% endfor %}
      </h1>

      <br>

      <p>Vul Het Wachtwoord van de Ruimte in</p>
      <form action="/overzicht" method="post">
        <div class="input-container">
          <input type="text" name="password" placeholder="Wachtwoord" required>
        </div>
      </form>

      <div class="icon-button-row">
          <a href="{{ url_for('woonkamer') if woonkamer_enabled}}" class="trigger-fade">
            <button class="icon-only-button trigger-fade" id="woonkamerButton" {% if not woonkamer_enabled %}disabled{% endif %}>
                <div class="icon-container">
                    <img src="/static/images/home.png" alt="Woonkamer">
                </div>
            </button>
        </a>
        
        <a href="{{ url_for('tuin') if tuin_enabled}}" class="trigger-fade">
            <button class="icon-only-button" id="tuinButton" {% if not tuin_enabled %}disabled{% endif %}>
                <div class="icon-container">
                    <img src="/static/images/spring.png" alt="Tuin">
                </div>
            </button>
        </a>
      </div>

  </div>
{% endblock %}