{% extends "base.html" %}

{% block title %}Artiest{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Periodiek Systeem</h1>

    {% for question_id, question_text in question_desc.items() %}
    <div class="question-container">
        <div class="question">
            <form action="{{ url_for('woonkamer_periodieksysteem') }}" method="POST">
                <input type="hidden" name="question_id" value="{{ question_id }}">
                <label for="question{{ question_id }}">{{ question_text | safe }}</label>
                <div class="input-container {% if answers_status.get(question_id) == 'incorrect' %}shake{% endif %}">
                    <input type="text" id="question{{ question_id }}" name="answer" placeholder="Vul in"
                        {% if answers_status.get(question_id) == 'correct' %} 
                            style="background-color: #74cb6a;" value="{{ answer_dict.get(question_id, '') }}"
                        {% elif answers_status.get(question_id) == 'incorrect' %} 
                            style="background-color: #dadada;" value="{{ answer_dict.get(question_id, '') }}"
                        {% else %}
                            value="{{ answer_dict.get(question_id, '') }}"
                        {% endif %}>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}

    <br>
    <a href="{{ url_for('woonkamer') }}" class="trigger-fade"><button>Terug naar Woonkamer</button></a>
</div>
{% endblock %}
